<!DOCTYPE html>
<html>
    <head>
        <title>Test jsTree</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

        <div><h3>Test jsTree</h3></div>
        <div id="jstree"></div>

        <script language="javascript" type="text/javascript">
            // Have jsTree make the AJAX request
            $(function() {
                $('#jstree').jstree({
                    'core' : {
                        'data' : {
                            "url" : "http://127.0.0.1:5000/json",
                            "dataType" : "json" // needed only if you do not supply JSON headers
                        }
                    },
                    'checkbox' : {
                        "keep_selected_style" : false
                    },
                    'plugins' : [ "checkbox"]
                });
            });

        </script>
    </body>
</html>
